<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:HES.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="dialect">hibernate.SQLiteDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="classes.Angebot"/>
        <mapping class="classes.Auftrag"/>
        <mapping class="classes.Bestellung"/>
        <mapping class="classes.Einkaufsinfosatz"/>
        <mapping class="classes.Kunde"/>
        <mapping class="classes.Lieferant"/>
        <mapping class="classes.Lieferung"/>
        <mapping class="classes.Orderbuch"/>
        <mapping class="classes.Orderbuchsatz"/>
        <mapping class="classes.Produkt"/>
        <mapping class="classes.Rechnung"/>
        <mapping class="classes.Transportauftrag"/>
        <mapping class="classes.Warenausgangsmeldung"/>
        <mapping class="classes.Wareneingangsmeldung"/>
        <mapping class="classes.Zahlungseingang"/>

    </session-factory>
</hibernate-configuration>
